body{
    margin: 0px;
    text-align: center;
    font-family: Calibri;
    
}

*{
  box-sizing: border-box;
}

h2{
    font-family: 'Yellowtail', cursive;
    font-weight: lighter;
    text-align: left;
    color: #133E66;
}

p{
    text-align: left;
    font-style: italic;

}

button{
    background-color: #133E66;
    color: white;
    padding: 12px 30px;
    border: none;
}

.logo{
    height: 35px;
    width: 75px;
    position: absolute;
    left:0px;
}

.navigationBar{
    background-color: #133E66;
    height:35px;
}

ul{
    list-style-type: none;
    padding: 6px 160px;
    overflow: hidden;
}

li{
    float: left;
    text-decoration: none;
    color: white;
    padding-right: 110px;
    font-size: 14px;
    display: block;
}

li:hover{
    color: rgb(57, 136, 211);
}

  /*Responsive code: for the burger menu to have a drop down menu */

  @media screen and (max-width: 1154px) {
    .navigationBar a:nth-child(5) {display: none;}
    .navigationBar a.icon {
      float: right;
      display: block;
    }
  }
                             
  @media screen and (max-width: 1154px) {
    .navigationBarresponsive {position: relative;  background-color:#133E66 ;}
    .navigationBarresponsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    
    }
    .navigationBarresponsive li {
      float: none;
      display: block;
      text-align: left;
    }
  }

/*Responsive code: for the .icon class to be invinsible when the page is at the regular width of 1280*/
.navigationBar .icon {
    display: none;
  }

/*Responsive code: for when the screen size is  reduced to 1132px (min 970px and max: 1132px )
  the 4th element of navbar dissapears and the burger menu appears */
  @media screen and (max-width: 1132px) {
    .navigationBar a:nth-child(4)  {display: none;}
    .navigationBar a.icon {
      float: right;
      display: block;
    }
  }

  /*Responsive code: for when the screen size is  reduced to 970px (min 806px and max: 970px )
  the 4th element of navbar dissapears and the burger menu appears */

  @media screen and (max-width: 970px) {
    .navigationBar a:nth-child(3)  {display: none;}
    .navigationBar a.icon {
      float: right;
      display: block;
    }
  }

    /*Responsive code: for when the screen size is  reduced to 806px (min 590px and max: 806px )
  the 4th element of navbar dissapears and the burger menu appears */

  @media screen and (max-width: 806px) {
    .navigationBar a:nth-child(2)  {display: none;}
    .navigationBar a.icon {
      float: right;
      display: block;
    }
  }  


    /*Responsive code: for when the screen size is  reduced to 590px (min 0px and max: 806px )
  the 4th element of navbar dissapears and the burger menu appears */
  @media screen and (max-width: 590px) {
    .navigationBar a:nth-child(1)  {display: none;}
    .navigationBar a.icon {
      float: right;
      display: block;
      text-align: center;
    }
  }


/*Set the measurements for mobile*/
@media (max-width: 480px){
    .ourFacilities{
        background-image: url("./img/facilities-4.jpeg");
    }
}

/*Set the measurements for Tablet */
@media (min-width: 481px) and (max-width: 1025px){
    .ourFacilities{
        background-image: url("./img/facilities-4.jpeg");
    }
}

/*Set the measurements for Desktop*/
@media (min-width: 1025px) {
    .ourFacilities{
        background-image: url("./img/facilities-4.jpeg");
    }

}

/*responsive code for the ourFacilities div*/

.ourFacilities{
background-position: center center;  
background-size: cover;
background-repeat: no-repeat;
background-attachment: local;
padding: 24%;

}

/*responsive code for the purpleButton div*/

.purpleButton{
    color: white;
    background:  linear-gradient(180deg, rgba(52, 19, 105, 0.76) 95.31%, rgba(196, 196, 196, 0) 100%);
    font-weight: lighter;

}

/*responsive code for the rest of the page (apart from main picture) */

@media only screen and (max-width: 786px){
  img{
    width: 100%;
    object-fit: cover;
  }
  div.bar, div.cuisine, div.laundry, div.room{
    padding-bottom: 60px;
  }




}




img{
    height: 300px;
}


.room{
    width: 80%;
    margin-bottom: 0;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 180px;


}
.bar, .cuisine, .laundry{
    width: 80%;
    margin: 0px auto;
    padding-bottom: 180px;

}

.roomImg, .cuisineImg{
    float: right;
    height: 300px;
    margin-left: 30px;
}

.barImg, .laundryImg{
    float: left;
    height: 300px;
    margin-right: 50px;
}



.footer{
    text-align: center;
    color: gray;
}
